<nav class="navbar navbar-expand-lg bg-dark">
  <button id="goUp" type="button" class="btn btn-outline-light m-1 " (click)="goUp()" disabled>Go up</button>
  <button id="newFile" type="button" class="btn btn-outline-light ml-3" (click)="addNewFile('FILE')">New File</button>
  <button id="newFolder" type="button" class="btn btn-outline-light ml-2" (click)="addNewFile('FOLDER')">New Folder</button>
  <button type="button" class="btn btn-outline-light ml-2 mr-3" (click)="removeFileExtension()">Hide file extension</button>
  <p class="whiteTxt m-1 text-center">{{path}}</p>
</nav>

<form id="searchForm" class="form-inline">
  <input #searchInput class="form-control mr-sm-2" type="search" (input)="searchFiles(searchInput.value)"
         placeholder="Search..." aria-label="Search">
</form>

<div class="m-2">
  <div id="fileCont" class="folder d-inline-block m-2" *ngFor="let entry of filteredFiles[0]" (click)="navigate(entry)" (contextmenu)="openMenu($event)" >

    <div [ngSwitch]="entry.type">
      <p *ngSwitchCase="'FOLDER'" class="fileIcon far fa-5x fa-folder"></p>
    </div>

    <div *ngIf="entry.type =='FILE'" [ngSwitch]="entry.fileType">
      <p *ngSwitchCase="'PDF'" class="fileIcon far fa-5x fa-file-pdf"></p>
      <p *ngSwitchCase="'JPG'" class="far fa-5x fa-file-image"></p>
      <p *ngSwitchCase="'PNG'" class="far fa-5x fa-file-image"></p>
      <p *ngSwitchCase="'ZIP'" class="far fa-5x fa-file-archive"></p>
      <p *ngSwitchCase="'WAV'" class="far fa-5x fa-file-audio"></p>
      <p *ngSwitchCase="'MOV'" class="far fa-5x fa-file-video"></p>
      <p *ngSwitchCase="'DOC'" class="far fa-5x fa-file-word"></p>
      <p *ngSwitchCase="'INI'" class="far fa-5x fa-file-code"></p>
      <p *ngSwitchCase="'GO'" class="far fa-5x fa-file-code"></p>
      <p *ngSwitchDefault class="far fa-5x fa-file"></p>
    </div>

    <p class="fileDsc">{{entry.name}}</p>
  </div>

  <div class="hide" id="ctxmenu" (mouseleave)="hideCtxMenu()">
    <div class="p-3 ctxItem" (click)="hideCtxMenu()">Testing1</div>
    <div class="p-3 ctxItem" (click)="hideCtxMenu()">Testing2</div>
    <div class="p-3 ctxItem" (click)="hideCtxMenu()">Testing3</div>
  </div>

</div>

